.text-sm {
  font-size: 0.8rem !important;
}
.text-xsm {
  font-size: 0.7rem !important;
}
.text-xxsm {
  font-size: 0.6rem !important;
}
::-webkit-scrollbar {
  width: 0;
}
.cursor-pointer {
  cursor: pointer !important;
}
.animate-content {
  animation: spring 600ms ease-out forwards;
}
.more-btn:active {
  scale: 0.97;
}
@keyframes spring {
  0% {
    scale: 0;
  }
  40% {
    scale: 1.2;
  }
  60% {
    scale: 0.9;
  }
  75% {
    scale: 1.05;
  }
  90% {
    scale: 0.98;
  }
  100% {
    scale: 1;
  }
}

.my-overlay-content video {
  pointer-events: none;
  z-index: 0 !important;
}
.my-overlay-content img {
  pointer-events: none;
}
